*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: sour gummy;
}
.container{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-top: 2px;
    margin-left: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
h2{
    position: absolute;
    top: 2px;
    right: 8px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
}
h1{
    position: absolute;
    top: 8px;
    font-size: 70px;
}
button{
    position: absolute;
    bottom: 270px;
    right: 300px;
    font-size: 35px;
    border-radius: 40px;
    padding: 4px;
}